export SECRET_KEY=dolores
export DB_ENGINE=postgres
export PGHOST=dolores-database
export PGDATABASE=dolores
export PGPORT=5432
export PGSSLMODE=disable 
export PGUSER=postgres
export PGPASSWORD=postgres
